@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik+Beastly&display=swap" rel="stylesheet"> @Styles.Render("~/Content/css")
    @*<script src="https://kit.fontawesome.com/eb8393c04d.js" crossorigin="anonymous"></script>*@

    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="wrapper">
        <div id="sidebar">
            <ul class="sidebar-side">
                <li class="sidebar-user-panel">
                    <div class="user-panel">
                        <div class="image">
                            <img class="image-round sidebar-user-image" src="~/Content/Staff/@(User.Identity.GetUserId() + "Profile.jpg")"/>
                        </div>
                        <div class="info">
                           @PageData["Name"]
                        </div>
                    </div>

                </li>
                
                <li class="sidebar-item">
                    <a href="@Url.Action("Index","Home")" class="sidebar-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill sidebar-icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                        <span class="link-text">Dashboard</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="@Url.Action("Inmates","Inmate")" class="sidebar-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill sidebar-icon" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                        </svg>
                        <span class="link-text">Inmates</span>
                    </a>
                </li>
                
                
                <li class="sidebar-item">
                    <a href="@Url.Action("Staffs","Staff")" class="sidebar-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill sidebar-icon" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <span class="link-text">Staffs</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill sidebar-icon" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                        </svg>
                        <span class="link-text">Cells</span>
                    </a>
                </li>
            </ul>
        </div>
        @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                 

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Add an inmate", "Create", "Inmate")</li>
                        <li>@Html.ActionLink("View Inmates", "Inmates", "Inmate")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
        <nav class="navbar fixed-top ">
            <div class="container">
                <div class="navbar-brand-area">
                    
                    <a class="menu-area" href="#">
                        <span class="menu-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </span>
                    </a> 
                    
                    
                    <a class="navbar-brand" href="@Url.Action("Register", "Account")">
                        <span class="icon">LOGO</span>
                    </a>
                </div>

                <div class="searchArea">
                    <form class="search" action="/Home/Search" method="post">
                        <span class="searchIcon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        <input class="searchTerm" type="search" placeholder="Search" aria-label="Search" />

                    </form>
                </div>
                <div class="navbar-right">
                    <div class="navbar-noti">
                        <div class="notifications">
                            <a href="#">
                                <i class="fas fa-bell"></i>
                                <span class="badge"></span>
                            </a>
                        </div>
                    </div>
                   
                    <button class="navbar-profile"/>
                        <div class="navbar-right-image">
                            <img class="image-round navbar-user-image" src="~/Content/Staff/@(User.Identity.GetUserId() + "Profile.jpg")" />

                            @Html.Partial("_LoginPartial")
                        </div>
                        <div class="navbar-right-details">
                            <p class="navbar-user-name"> @PageData["Name"]</p>
                            <p class="navbar-role">Admin</p>
                        </div>

                </div>
            </div>
        </nav>
        
        <div class="body-content">
           
            @RenderBody()
        </div>
        
        <!--  <div class="container body-content">
         
            <hr/>
         
        </div>-->
      
    </div>
@Scripts.Render("~/bundles/lib")
@RenderSection("scripts", required: false)
</body>
</html>
