@model PrisonAdministrationFramework.Core.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
@{
    PageData["Name"] = string.Format(Model.User.LastName + " " + Model.User.FirstName);
    
}

<div class="body-header">
    <h2 class="form-header-text">Dashboard</h2>
    @if (Request.IsAuthenticated && User.IsInRole("Warden"))
    {
        <div class="add-button-blue"><a class=" btn btn-primary" href="@Url.Action("Register", "Account")">Add Admin <i class="fa fa-user-plus" aria-hidden="true"></i></a></div>
    }
</div>

<div class="information">
    <div class="information-inmate">
        <div class="information-box">

            <span class="information-inmate-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </span>
            <div class="information-box-detail">
            <span class="information-label">Total Inmates</span>
                <span class="information-detail">@Model.InmatesCount</span>
            </div>
        </div>
    </div>

    <div class="information-inmate-new">
        <div class="information-box">
            <span class="information-inmate-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </span>
            <div class="information-box-detail">
                <span class="information-label">New Inmates</span>
                <span class="information-detail">@Model.NewInmateCount</span>
            </div>
        </div>
    </div>



    <div class="information-staff">
        <div class="information-box">

            <span class="information-inmate-icon">
                <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            <div class="information-box-detail">
                <span class="information-label">Total Staffs</span>
                <span class="information-detail">@Model.StaffsCount</span>
            </div>
        </div>
    </div>
    
    <div class="information-staff-new">
        <div class="information-box">

            <span class="information-inmate-icon">
                <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            <div class="information-box-detail">
                <span class="information-label">New Staffs</span>
                <span class="information-detail">@Model.NewStaffCount</span>
            </div>
        </div>
    </div>
    
    
    <div class="information-cell">
        <div class="information-box">

            <span class="information-inmate-icon">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
            <div class="information-box-detail">
                <span class="information-label">Total Cells</span>
                <span class="information-detail">@Model.CellsCount</span>
            </div>
        </div>
    </div>
    
    <div class="information-ex-inmates">
        <div class="information-box">

            <span class="information-inmate-icon">
                <i class="fa fa-user-times" aria-hidden="true"></i>
            </span>
            <div class="information-box-detail">
                <span class="information-label">Ex-Inmates</span>
                <span class="information-detail">@Model.ExConvicts</span>
            </div>
        </div>
    </div>
</div>