@using System.Globalization
@model PrisonAdministrationFramework.Core.ViewModels.StaffsVewModel
@{
    ViewBag.Title = "Staffs";
}
<div class="body-header">
    <div><h2 class="form-header-text">Staffs</h2></div>
        <div class="add-button-blue"><a class=" btn btn-primary"href="@Url.Action("CreateStaff", "Staff")">Add New  <i class="fa fa-plus" aria-hidden="true"></i></a></div>
    </div>


<div class="staff">

    @foreach (var staff in Model.Staffs)
    {

        <div class="details">
            <div class="staffs-image">

                <a href="@Url.Action("Details", "Staff", new {Id = staff.Id})">  <img class="image-card image-round" src="~/Content/Staff/@staff.Passport" /></a>
            </div>
            <div class="details-content">

              <div class="staff-name">@( CultureInfo.CurrentCulture.TextInfo.ToTitleCase(staff.LastName + "  " + staff.FirstName + "  " + staff.MiddleName))</div>
                <p class="text-size-16">@staff.Role.Name</p>
           
                <div ><span class="phone"><i class="fa fa-phone" aria-hidden="true"></i></span> <span class="text-color-blue">@staff.PhoneNumber</span></div>
                <div class="actions-button">
                    <a class="btn btn-primary" href="@Url.Action("Edit", "Staff", new { Id = staff.Id })">
                        Edit
                    </a>
                    <a class="btn btn-danger js-staff-remove" data-staff-id="@staff.Id" href="#">
                        Remove
                    </a>
                </div>
               
            </div>
        </div>

    }
</div>
@{
    PageData["Name"] = string.Format(Model.User.LastName + " " + Model.User.FirstName);
    PageData["Query"] = Model.SearchTerm;
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-staff-remove").click(function (e) {
                var button = $(e.target);

                bootbox.dialog({
                    title: 'Confirm',
                    message: 'Are you sure you want to remove this staff?',
                    size: 'large',
                    buttons: {
                        no: {
                            label: 'No',
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },

                        yes: {
                            label: 'Yes',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/staff/" + button.attr("data-staff-id"),
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        button.parents(".details").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Something went wrong");
                                    });
                            }
                        }
                    }
                });


            });
        });
    </script>
}
